<div class="row bootstrap snippets" id="real-estates-columns">
<% if @sal.releases %>
  <% @releases.each do |release| %>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="panel">
        <div class="panel-body">
          <h2 class="text-center"><%= release.name %></h2></br>
          <%= image_tag(release.picture, class: "img-responsive") %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
</div>
<div class="text-center">
  <%= will_paginate @releases, renderer: BootstrapPagination::Rails %>
</div>