
<% if user_signed_in? %>
  <br />
  <div class="col-md-10 col-md-offset-1 text-center">
    <%= link_to image_tag('stitchinglypatreon.jpg', :class => "img-thumbnail img-responsive img-center"), "https://www.patreon.com/stitchingly" %>
    </p>
    <p>Don't forget that in order to keep Stitchingly going and to bring you the very best inventory we need help! We have our own dedicated page at https://www.patreon.com/stitchingly where you can pledge an amount to help us keep Stitchingly running and to bring new features that you all keep asking for!
    <br/>
    Thanks so much for your support!</p>
    <h2>Click here to support us <%= link_to "here", "https://www.patreon.com/stitchingly" %></h2>
    <br /><br />
    <h2>Join us for our Year of Finishes Event</h2>
    <br />
    <p>Feeling like you never finish a project?<br/>
      Do you have a shameful pile of WIP'S?<br/>
      UFO's a plenty?<br/>
      BAP avoidance?<br/>
      Too many PHD's?!<br/>
    </p>
    <p>(Yes I did have fun with those acronym's ;-) (cred. Kate Worthington for the list)<br/>
      Then dig them out and make a plan! Make 2018 your year of finishes. Let Stitchingly help you finish those long over due projects. Upload each project to the projects dashboard and keep updating your progress!</p>
    <p>Lets turn those WIP into FFO's!</p>
    <h2>Join our event on FB <%= link_to "here", "https://www.facebook.com/events/666107580445281/" %></h2>
    <br /><br />
  </div>
<% else %>
<div class="">
  <br />
  <div class="col-md-10 col-md-offset-1 text-center">
    <br />
    <h1>Stitchingly</h1>
    <br />
    <h2>Tutorials, tools and products to help you spend more time cross stitching. We help you find, keep track, and finish your projects.</h2>
    <br />
    <h2>Letting you focus on the stitching!</h2>
    <br />
    <%= link_to 'Sign Up', new_user_registration_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />
<br />
<div class="col-md-10 col-md-offset-1 features text-center">
  <div class="col-md-4">
    <h3>Keep Track of Your Stash</h3>
    <br />
    <p>Our floss and fabric inventory lets you keep track of what you have so you will never buy an item again when you already have it at home. </p>
  </div>
  <br />
  <div class="col-md-4">
    <h3>Manage Your Projects</h3>
    <br />
    <p>Want to see at a glance all the projects you are working on or have finished and your progress on each? Add pictures of each one as you stitch to keep a record of how your project came together. </p>
  </div>

  <div class="col-md-4">
    <h3>Look for Inspiration</h3>
    <br />
    <p>Get inspiration for your next project from those that other members are stitching. Want to find projects based on the name, designer or fabric?</p>
  </div>
</div>
<% end %>