// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#real-estates-columns img {
    border: 5px solid #ecf0f1;
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}

.pills {
  margin-top: 10px;
}