<div class="booyah-box col-xs-10 col-xs-offset-1">
<h1>Completed Features <%= link_to 'View Feature Requests', features_path, class: "btn btn-success pull-right" %></h1>
<p>
These are the features that we have already completed and implements. If you have an idea for a new feature go to the Feature Suggestions page and suggest one. Thank you for making this site great :-)
</p>

<%= render @features %>

</div>