<div class="booyah-box">
  <h2><%= @feature.title %></h2>
    <p><%= @feature.description %></p>
<%= link_to 'Edit', edit_feature_path(@feature), class: "btn btn-primary" %>
<%= link_to 'Back', features_path, class: "btn btn-default" %>
</div>